[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-peepopen"]
	path = bundle/vim-peepopen
	url = git://github.com/shemerey/vim-peepopen.git
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-supertab"]
	path = bundle/vim-supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vim-base16"]
	path = bundle/vim-base16
	url = git://github.com/chriskempson/base16-vim.git
[submodule "bundle/vim-tabular"]
	path = bundle/vim-tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/vim-nerdcommenter"]
	path = bundle/vim-nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-minibufexpl"]
	path = bundle/vim-minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/cf-utils"]
	path = bundle/cf-utils
	url = git://github.com/davejlong/cf-utils.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
