[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git://github.com/akitaonrails/Command-T.git
[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/git"]
	path = bundle/git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/markdown-preview"]
	path = bundle/markdown-preview
	url = git://github.com/robgleeson/vim-markdown-preview.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/akitaonrails/snipmate.vim.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/minibufexplorerpp"]
	path = bundle/minibufexplorerpp
	url = git://github.com/vim-scripts/minibufexplorerpp.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-fugative"]
	path = bundle/vim-fugative
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-fuzzyfinder"]
	path = bundle/vim-fuzzyfinder
	url = https://github.com/oppara/vim-fuzzyfinder.git
[submodule "bundle/vim-l9"]
	path = bundle/vim-l9
	url = https://github.com/slack/vim-l9.git
[submodule "bundle/vimroom"]
	path = bundle/vimroom
	url = https://github.com/mikewest/vimroom.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
